.App {
  text-align: center;
}

.TopBar {
  padding: 16px;
  width: calc(100vw - 32px);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 100;
}

.bg {
  /* Full height */
  height: 100vh;
  max-height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.PageContent {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DownButton {
  z-index: 2;
  margin-bottom: 5vh;
  margin-top: 5vh;
  height: 15vh;
  padding-top: 0vh;
  animation-duration: 1s;
  animation-name: button;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes button {
  from {
    padding-top: 0vh;
    height: 15vh;
  }

  10% {
    padding-top: 0vh;
    height: 15vh;
  }

  to {
    padding-top: 2vh;
    height: 13vh;
  }
}

#FrontPage {
  background-image: url("./../img/profile.jpg");
}
#EducationPage {
  background-image: url("./../img/ifi.jpg");
}
#ProjectsPage {
  background-image: url("./../img/coding.png");
}

#ContactPage {
  background-image: url("./../img/profile_2.jpg");
}

@media screen and (min-width: 700px) {
  #ContactPage {
    background-image: url("./../img/profile_2_wide.jpg");
  }
}
